body{
    background-color: #1f2335;
    color: #c0caf5;
    font-family: 'Comfortaa', sans-serif;
}
#err{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height: 0vh;
}
#locale{
    text-align: center;
    flex-grow: 1;
    text-decoration: none;
    color: inherit;
}
#title{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
#hero{
    margin: auto;
    text-align: center;
    font-size: 10vw;
    visibility: hidden;
    overflow-y: visible;
    overflow: hidden;
}
/* The overlay itself */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5d9b9; /* semi-transparent black */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    flex-direction: column;
}

/* Progress bar container */
#progress-container {
    width: 50%;
    background-color: #ddd;
    border-radius: 25px;
}

/* Progress bar itself */
#progress-bar {
    width: 0%;
    height: 30px;
    background-color: #b9d8f5;
    border-radius: 25px;
    text-align: center;
    line-height: 30px;
    color: white;
}

/* Optional loading message */
#overlay-message {
    text-align: center;
    margin-bottom: 20px;
}

#content{
    padding:5%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    justify-self: center;
    text-align: center;
    font-size: larger;
}
h1{
    padding:5%;
    color:#7dcfff;
}
h2{
    padding:5%;
    color:#b4f9f8;
}
h3{
    padding:5%;
    color:#bb9af7;
}
a{
    flex-grow: 1;
    color:#4fd6be;
}
.list{
    color:#a9b1d6;
    text-decoration: none;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}
.listitem{
    display: flex;
    border-style:solid;
    border-width: 1px;
    border-color: #3b4261;
    padding:1%;
    text-align: left;
    text-overflow: ellipsis;
}
p{
    padding:10%;
}